<a href="https://colab.research.google.com/github/JuanCappelletti/Consteel_H06/blob/trends/caidas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [76]:
#@title Ejecutar librerias { run: "auto", display-mode: "form" }
from matplotlib.font_manager import json_dump
from numpy.matrixlib.defmatrix import N
from operator import truediv
import numpy as np
import pandas as pd
from matplotlib.ticker import (MultipleLocator, AutoMinorLocator)
import matplotlib.pyplot as plt
import plotly.graph_objects as go
from IPython.display import Image

#Carga de tablas_______________
Url = "https://raw.githubusercontent.com/JuanCappelletti/Consteel_H06/main/sagomario.csv"
Sagomario = pd.read_csv(Url,sep=";",decimal=",")

In [87]:
Sagomario
#Sagomario.info()

,DN,DE,SCH20,SCH30,SCH40S,STD,SCH40,SCH60,SCH80S,XS,SCH80,SCH100,SCH120,SCH140,SCH160,XXS
0,1/8,10.3,NaN,NaN,1.73,1.73,1.73,NaN,2.41,2.41,2.41,NaN,NaN,NaN,NaN,NaN
1,1/4,13.7,NaN,NaN,2.24,2.24,2.24,NaN,3.02,3.02,3.02,NaN,NaN,NaN,NaN,NaN
2,3/8,17.1,NaN,NaN,2.31,2.31,2.31,NaN,3.20,3.20,3.20,NaN,NaN,NaN,NaN,NaN
3,1/2,21.3,NaN,NaN,2.77,2.77,2.77,NaN,3.73,3.73,3.73,NaN,NaN,NaN,4.75,7.47
4,3/4,26.7,NaN,NaN,2.87,2.87,2.87,NaN,3.91,3.91,3.91,NaN,NaN,NaN,5.54,7.82
5,1,33.4,NaN,NaN,3.38,3.38,3.38,NaN,4.55,4.55,4.55,NaN,NaN,NaN,6.35,9.09
6,1 1/4,42.2,NaN,NaN,3.56,3.56,3.56,NaN,4.85,4.85,4.85,NaN,NaN,NaN,6.35,9.70
7,1 1/2,48.3,NaN,NaN,3.68,3.68,3.68,NaN,5.08,5.08,5.08,NaN,NaN,NaN,7.14,10.16
8,2,60.3,NaN,NaN,3.91,3.91,3.91,NaN,5.54,5.54,5.54,NaN,NaN,NaN,8.71,11.07
9,2 1/2,73.0,NaN,NaN,5.16,5.16,5.16,NaN,7.01,7.01,7.01,NaN,NaN,NaN,9.52,14.02
10,3,88.9,NaN,NaN,5.49,5.49,5.49,NaN,7.62,7.62,7.62,NaN,NaN,NaN,11.13,15.24
11,3 1/2,101.6,NaN,NaN,5.74,5.74,5.74,NaN,8.08,8.08,8.08,NaN,NaN,NaN,NaN,16.15
12,4,114.3,NaN,NaN,6.02,6.02,6.02,NaN,8.56,8.56,8.56,NaN,11.13,NaN,13.49,17.12
13,5,141.3,NaN,NaN,6.56,6.56,6.56,NaN,9.53,9.53,9.53,NaN,12.70,NaN,15.88,19.05
14,6,168.3,NaN,NaN,7.11,7.11,7.11,NaN,10.97,10.97,10.97,NaN,14.27,NaN,18.24,21.95
15,8,219.1,6.35,7.04,8.18,8.18,8.18,10.31,12.70,12.70,12.70,15.06,18.26,20.62,23.01,22.22
16,10,273.1,6.35,7.80,9.27,9.27,9.27,12.70,12.70,12.70,15.06,18.26,21.44,25.40,28.58,25.40
17,12,323.9,6.35,8.38,9.52,9.52,10.31,14.27,12.70,12.70,17.48,21.44,25.40,28.58,33.32,25.40
18,14,355.6,7.92,9.52,NaN,9.52,11.13,15.06,NaN,12.70,19.05,23.83,27.79,31.75,35.71,NaN
19,16,406.4,7.92,9.52,NaN,9.52,12.70,16.66,NaN,12.70,21.44,26.19,30.96,36.52,40.46,NaN
20,18,457.2,7.92,11.12,NaN,9.52,14.27,19.05,NaN,12.70,23.82,29.36,34.92,39.67,45.24,NaN
21,20,508.0,9.52,12.70,NaN,9.52,15.06,20.62,NaN,12.70,26.19,32.54,38.10,44.45,49.99,NaN
22,22,558.8,9.52,12.70,NaN,9.52,15.87,22.22,NaN,12.70,28.58,34.92,41.28,47.62,53.98,NaN
23,24,609.6,9.52,14.27,NaN,9.52,17.48,24.61,NaN,12.70,30.93,38.89,46.02,52.37,59.51,NaN
24,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [54]:
from pickle import TRUE
#@title Carga general de datos
Qteorico=np.array(np.linspace(1, 18000, 18000, endpoint=True,dtype=int)) #Nm3/h
Temp_celsius = 25 #@param {type:"integer"}
Altitud_m = 20 #@param {type:"number"}
atm_local=(1-0.00002257*Altitud_m)**5.256
#@markdown Indicar valor de presion de partida (tildar unidad de ingreso)
Barg = True #@param {type:"boolean"}
Kgcm2 = False #@param {type:"boolean"}
Pressure_in = 15 #@param {type:"number"}
Temp=(Temp_celsius+273.15)/273.15 #temperatura en kelvin

if Barg==True and Kgcm2== False:
   Pressure_op= Pressure_in*0.986923 #atm
elif Barg==False and Kgcm2== True:
   Pressure_op= Pressure_in*0.967841 # atm
else :
   print('Mensaje ERROR: Se requiere opción de unidad , Tildar solo una')

#print(atm_local)
#print(Temp*273.15)
#print(Temp)
Qnormalizado=np.round(Qteorico*(Temp*(1/(atm_local+Pressure_op))),decimals=2)

In [61]:
def velocidad(caudal,d):
  Velocity=(caudal/3600)/(((np.pi)*((d/1000)**2))/4)
  return [Velocity]

In [93]:
#@title Tramo 1
a=Sagomario.loc[:,'DN'] =='8'
a
#Sagomario.loc[a]['DE']
#velocidad(Qnormalizado,dato)

#dfa = dfx.loc[dfx.loc[:,InstrumentoParametro] <= Rangos[0][0]]

##datos = pd.read_csv(Url,sep=";",decimal=",")
##df=pd.DataFrame(datos)
#dfx=df.copy()
#Qnormalizado[np.where(Qteorico==14000)]

0     False
1     False
2     False
3     False
4     False
5     False
6     False
7     False
8     False
9     False
10    False
11    False
12    False
13    False
14    False
15    False
16    False
17    False
18    False
19    False
20    False
21    False
22    False
23    False
24    False
Name: DN, dtype: bool